<div class="container">
<ejs-schedule  width ='500px' height='500px'
 [startHour]="startHour" [endHour]="endHour" 
 id="Schedule" [eventSettings]="eventSettings"
 [currentView]="scheduleView"
[appointmentSettings]="AppointmentSettings" 
(actionComplete)="onActionComplete($event)"
#scheduleObj [workDays]="workDays"
[showWeekend]="showWeekend"
[firstDayOfWeek]=2
>

</ejs-schedule>
</div>

<!-- <div class="container">
    <ejs-multiselect id='multiselectelement' [dataSource]='vegetableData' 
    [fields]='fields'[placeholder]='placeholder' [popupHeight]='height'></ejs-multiselect>`

</div> -->
<div class="card-body">
    <form method="POST" #visitForm="ngForm" (ngSubmit)="onSubmit(visitForm)">
            <div class="col-6 ">
                <div class="container">
                    <ejs-multiselect id='multiselectelement'  ngModel name="services" class="form-control" style="height:50px;"
                     #serviceRef="ngModel" [dataSource]='service' 
                    [fields]='fields'[placeholder]='placeholder' [popupHeight]='height'></ejs-multiselect>`
                
                </div>
            <div class="col-6 ">
                <div class="input-group ">
                    <label class="label ">Pet Name</label>
                    <select id="pet" ngModel name="pet_id" class="form-control" style="height:50px;" #petRef="ngModel" required>
                        <option selected>Select your pet's name</option>        
                        <option *ngFor="let pet of pet" value={{pet.pet_id}} >{{pet?.pet_name}}</option>
                      </select>
                   
                </div>
            </div>
            <button type="submit" class="btn btn-md btn-primary" [disabled]="visitForm.invalid"><i class="fa fa-dot-circle-o"></i> Submit</button>

